/*<300 / 300-450 / 450-750 / 750-800 / 800-950 / 950-110 / 110-1200 / 1200-1230*/


/***********************************************************************************************************************/
/*CORPO DA PÁGINA*/
/***********************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Koulen&family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;

    font-family: roboto;
}





/*************************************************************/
/****HEADER START*********************************************/
/*************************************************************/

.header-menu{
    background-color: black;
    color: white;
    padding: 3vh 0 3vh 0;
}
.div-for-logo-and-buttons{
    max-width: 90vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.nav-menu{
    display: flex;
    margin: auto;
    max-width: 40vw;
}
.img-logo{
    max-width: 12em;
    margin: auto;
}
.ul-for-menu-options{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
}
.li-of-menu-options > a {
    border-radius: 2vh;
    background-color: #ff6a00;
    padding: 1vh;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.li-of-menu-options > a:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
    transition: 0.3s;
}


<ul class="ul-list-products">
            <li class="li-individual-product">
                    <img class="img-individual-product" src="src/img/products/camiseta-basica-personalizada-branca-sublimacao-poliester.jpg" alt="camiseta-basica-personalizada-branca-sublimacao-poliester">
                    <h2 class="h2-individual-product">CAMISETA BÁSICA TRADICIONAL</h2>
                    <p class="p-individual-product">Estampa colorida em alta resolução, personalize com a sua arte</p>
                    <span class="span-price-individual-product"><strong>R$ 32,00</strong></span>
                    <span clas



/*************************************************************/
/****HEADER ENDS*********************************************/
/*************************************************************/







/*************************************************************/
/****FOOTER START*********************************************/
/*************************************************************/

.footer-base{
    background-color: black;
    color: white;
    padding: 3vh 0 3vh 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.img-logo-footer{
    max-width: 12em;
    margin: auto;

}

.ul-footer-options{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    width: 90vw;
    margin: auto;    
    justify-content: center;
    align-items: center;
}

.li-footer-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.li-footer-options > a {
    border-radius: 2vh;
    background-color: #ff6a00;
    padding: 1vh;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: 0.3s;
    width: 70vw;
    justify-content: center;
    gap: 3vw;
}

.li-footer-options > a:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
    transition: 0.3s;

}

#a-face-button{
    background-color: #3a5897;
}

#a-insta-button{
    background-color: #6f3ab9;
}

#a-whats-button{
    background-color: #1d9b12;
}

.img-tiny{
    width: 5vw;
}

#li-adress-footer{
    display: flex;
    gap: 1px;
    text-align: center;
    width: 80%;
}